<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Contacts App</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap" (click)="logOut()">
      <a class="nav-link" href="#">Log out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item" [routerLink]="['/contacts']">
            <a class="nav-link" [routerLink]="['/contacts']" [routerLinkActive]="'active'">
              <span data-feather="home"></span>
              Contacts <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" [routerLink]="['/favourites']">
            <a class="nav-link" [routerLink]="['/favourites']" [routerLinkActive]="'active'">
              <span data-feather="file"></span>
              Favourites
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
    
